.about {
  width: 100%;
  max-width: 1905px;
  display: flex;
  justify-content: center;
}

.about-conteiner {
  width: 100%;
  max-width: 1294px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 29px;
  height: 835px;
  /* margin-top: 89px; */
  padding-left: 16px;
    padding-right: 5px;
}

.about-header {
  width: 672px;
  margin-left: 13px;
  margin-top: 12px;
}

.about-header_conteiner {
  max-width: 672px;
  display: flex;
  flex-direction: column;
}

.title-about_h4 {
  /* padding-left: 2px; */

  letter-spacing: 0.07px;
}
.subtitle-about_h5_up {
  /* padding-top: 20px; */
  /* padding-left: 2px; */
  letter-spacing: -0.07px;
}
.subtitle-about_h5_down {
  /* padding-top: 20px; */
  /* padding-left: 2px; */
  letter-spacing: -0.07px;
}

.card {
  width: 400px;
  height: 400px;
  border-radius: 6px;
  border: 1px solid #fff;
  background: linear-gradient(
    140deg,
    #303134 10.06%,
    #282828 53.72%,
    #282828 88%
  );
  box-shadow: 0 0 80px 0 rgba(44, 44, 45, 0.35);
}

.card-bg {
  background: linear-gradient(
    140deg,
    #527791 10.06%,
    #325597 53.72%,
    #193895 88%
  );
  box-shadow: 0 0 150px 0 rgba(59, 95, 150, 0.35);
}

@media (max-width: 1270px) {
  .about-conteiner {
    justify-content: center;
    flex-direction: column;
}

.card {
  width: 289px;
  height: 289px;

}
}
