.button-style {
  border: 1.5px solid #2eecc5;
  border-radius: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-style p {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.arrow-circle {
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  border-radius: 49px;
  border: 1.5px solid #153630;
  box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-circle:hover {
  cursor: pointer;
  width: 90px;
  height: 90px;
}

.arrow-ball {
  width: 60px;
  height: 60px;
  border-radius: 49px;
  border: 1.5px solid rgba(46, 236, 197, 0.5);
  background: linear-gradient(166deg, #19201f 16.33%, #323939 90%);
  box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-ball:hover {
  width: 80px;
  height: 80px;
}

.arrow-next {
  width: 14px;
  height: 24px;
  background-image: url(../img/Arrow-next.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.arrow-next:hover {
  width: 28px;
  height: 48px;
}

.arrow-prev {
  width: 14px;
  height: 24px;
  background-image: url(../img/Arrow-prev.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.arrow-prev:hover {
  width: 28px;
  height: 48px;
}

@media (max-width: 1300px) {
  
}