.content {
  display: flex;
  flex-direction: column;
  /* gap: 50px; */
  /* align-items: center; */
}

.section-conteiner {
  display: flex;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  justify-content: center;
}

.section-conteiner_header {
  /* width: 100%; */
  background-image: url(../img/room.svg);
  flex-direction: column;
  align-items: center;
}
.section-conteiner_about {
  background-image: url(../img/group-lineup.svg);
}
.section-conteiner_portfolio {
  background-image: url(../img/group-line.svg);
}

.section-conteiner_forma {
  width: 100%;
  height: 458px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    92deg,
    #313134 -11.81%,
    #222224 23.9%,
    #12473c 60.63%,
    #292929 110.44%
  );
}

.content-block {
  position: relative;
  width: 100%;
  max-width: 1905px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.conteiner-block {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  max-width: 1294px;
  
}

.line {
  width: 100%;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(42, 188, 158, 0) 0%,
    #2abc9e 48.65%,
    rgba(42, 188, 158, 0) 100%
  );
}

.lamp-conteiner {
  width: 127px;
  height: 49px;
  background-image: url(../img/lamp.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.lamp {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1270px) {
  .lamp-conteiner {
    visibility: hidden;
  }
}

.aside {
  position: relative;
  right: 125px;
  /* left: 185px; */
  display: flex;
  justify-content: center;
}

.aside-line {
  width: 2.5px;
  background: linear-gradient(
    70deg,
    rgba(46, 236, 197, 0) 0%,
    rgba(46, 236, 197, 0.5) 43.69%,
    rgba(46, 236, 197, 0.07) 92.19%,
    rgba(255, 177, 177, 0) 100%
  );
}

.aside-line_main {
  height: 1055px;
}
.aside-line_about {
  height: 1062px;
}
.aside-line_portfolio {
  height: 778px;
}
.aside-line_tarif {
  height: 984px;
}

@media (max-width: 1680px) {
  .aside {
    visibility: hidden;
  }
}

@media (max-width: 1270px) {
  .aside-line_main {
    height: 640px;
  }
  .aside-line_about {
    height: 1676px;
  }
  .aside-line_portfolio {
    height: 511px;
  }
  .aside-line_tarif {
    height: 705px;
  }
}

.point {
  position: absolute;
  width: 18px;
  height: 37px;
  border-radius: 9px;
  background: linear-gradient(180deg, #5d7c76 0%, #0a3028 100%);
}

.point-light {
  position: absolute;
  width: 18px;
  height: 37px;
  border-radius: 9px;
  background: linear-gradient(180deg, #b5feef 0%, #22a98d 100%);
}

.num-light {
  position: relative;
  right: 39px;
  font-size: 25px;
  font-weight: 600;
  line-height: 160%;
  background: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 165.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.num {
  position: relative;
  right: 39px;
  font-size: 25px;
  font-weight: 600;
  line-height: 160%;
  background: linear-gradient(
    91deg,
    rgba(181, 254, 239, 0.5) 10.31%,
    rgba(46, 236, 197, 0.5) 165.09%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.oval-light {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 26px;
  height: 45px;
  border-radius: 20px;
  border: 1.5px solid #29ad91;
}

.oval {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 26px;
  height: 45px;
  border-radius: 20px;
  border: 1.5px solid #597872;
}

.oval-position_01 {
  top: 171px;
}
.oval-position_01 .num-light p::after {
  content: "01";
}

.oval-position_02 {
  top: 760px;
}
.oval-position_02 .num p::after {
  content: "02";
}

.oval-position_03 {
  top: 824px;
}
.oval-position_03 .num p::after {
  content: "03";
}

.oval-position_04 {
  top: 888px;
}
.oval-position_04 .num p::after {
  content: "04";
}

.oval-position_05 {
  top: 950px;
}
.oval-position_05 .num p::after {
  content: "05";
}

.oval-position_12 {
  top: 104px;
}
.oval-position_12 .num-light p::after {
  content: "02";
}
.oval-position_13 {
  top: 751px;
}
.oval-position_13 .num p::after {
  content: "03";
}
.oval-position_14 {
  top: 815px;
}
.oval-position_14 .num p::after {
  content: "04";
}
.oval-position_15 {
  top: 879px;
}
.oval-position_15 .num p::after {
  content: "05";
}

.oval-position_23 {
  top: 156px;
}
.oval-position_23 .num-light p::after {
  content: "03";
}
.oval-position_24 {
  top: 541px;
}
.oval-position_24 .num p::after {
  content: "04";
}
.oval-position_25 {
  top: 605px;
}
.oval-position_25 .num p::after {
  content: "05";
}

.oval-position_34 {
  top: 95px;
}
.oval-position_34 .num-light p::after {
  content: "04";
}
.oval-position_35 {
  top: 623px;
}
.oval-position_35 .num p::after {
  content: "05";
}

/* @media (max-width: 1270px) {
.aside-line_main {
  height: auto; 
}

.aside-line_about {
  height: auto; 
}
.aside-line_portfolio {
  height: auto; 
}
.aside-line_tarif {
  height: auto; 
}

} */
