:root {
  --font-family: "Ruberoid", sans-serif;
  --font-color: rgba(255, 255, 255, 1);
}

body {
  font-family: Ruberoid;
  color: #fff;
}

h1 {
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 165.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

h2 {
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 165.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  color: rgba(255, 255, 255, 0.65);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h4 {
  text-shadow: 0 0 36px rgba(165, 252, 235, 0.2);
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: 110.6%;
  background: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 165.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h5 {
  color: rgba(255, 255, 255, 0.65);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 13px;
}

h6 {
  text-shadow: 0 0 36px rgba(165, 252, 235, 0.2);
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 110.6%;
  background: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 165.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1300px) {
  h1 {
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 165.09%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }

  h3 {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  h4 {
    text-shadow: 0 0 36px rgba(165, 252, 235, 0.2);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 110.6%;
    background: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 165.09%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h5 {
    color: rgba(255, 255, 255, 0.65);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  h6 {
    font-size: 37px;
    font-style: normal;
    font-weight: 600;
    line-height: 110.6%;
    text-shadow: 0 0 36px rgba(165, 252, 235, 0.2);
    background: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 165.09%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}