.footer {
  /* width: 1905px; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
}

.copyright {
  margin-bottom: 17px;
}

.copyright p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  line-height: 105.6%;
}

.agreement {
  margin-bottom: 40px;
}

.agreement p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;
  line-height: 105.6%;
}

 @media (max-width: 1270px) {

  .copyright {
    margin-bottom: 11px;
  }

  .copyright p {
    font-size: 9px;
  }

  .agreement {
    margin-bottom: 18px;
  }

  .agreement p {
    font-size: 9px;
  }
}
