.footer {
  position: absolute;
  width: 100%;
  top: 4822px;
  flex-shrink: 0;
  text-align: center;
}

.copyright {
  margin-bottom: 17px;
}

.copyright p {
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--font-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 105.6%;
}

.agreement {
  margin-bottom: 40px;
}

.agreement p {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: var(--font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 105.6%;
}

@media (max-width: 1300px) {
  .footer {
    position: absolute;
    width: 100%;
    top: 4042px;
    flex-shrink: 0;
    text-align: center;
  }

  .copyright {
    margin-bottom: 11px;
  }

  .copyright p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 105.6%;
  }

  .agreement {
    margin-bottom: 18px;
  }

  .agreement p {
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 105.6%;
  }
}
