.main {
  position: relative;
  width: 1905px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main-conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1283px;
  padding-left: 10px;
/*   padding-right: 10px; */
  height: 1055px;
}

.lamp {
  width: 127px;
  height: 49px;
  margin: 0 auto;
  background-image: url(/img/lamp.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.header-conteiner {
  max-width: 807px;
  height: 728px;
}

.h3 {
  max-width: 672px;
}

h3::after {
  content: "Мы - студия web-разработки, работаем уже более 3-х лет, готовы разработать для вас сайт в кротчайшие сроки.";
}

.man {
  position: absolute;
  display: flex;
  align-items: flex-end;
  right: 118px;
}

.man-conteiner {
  width: 663px;
  height: 844px;
  background-image: url(/img/man.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;

}

.target-conteiner {
  position: relative;
  z-index: -1;
  left: 73px;
  bottom: 22px;
}

.circle {
  width: 700px;
  height: 700px;
  border-radius: 700px;
  border: 2px solid rgba(46, 236, 197, 0.09);
}

.circle-s {
  width: 584px;
  height: 584px;
  border-radius: 584px;
  border: 2px solid rgba(46, 236, 197, 0.2);
  margin: 0 auto;
  margin-top: 57px;
}

.circle-m {
  width: 467px;
  height: 466px;
  border-radius: 467px;
  border: 2px solid rgba(46, 236, 197, 0.6);
  margin: 0 auto;
  margin-top: 57px;
}

.line {
  position: absolute;
  top: 1055px;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(42, 188, 158, 0) 0%,
    #2abc9e 48.65%,
    rgba(42, 188, 158, 0) 100%
  );
}

@media (max-width: 1300px) {
  .line {
    top: 640px;
  }

  .main-conteiner {
    height: 640px;
  }

  .header-conteiner {
    height: 416px;
  }

  .h2 {
    display: none;
  }

  h3::after {
    content: "Мы web-студия которая работает уже больше 3-х лет";
  }

  .man {
/*     position: absolute;
    display: flex;
    align-items: flex-end; */
    right: 47px;
  }

  .man-conteiner {
    width: 330px;
    height: 412px;
  }

  .target-conteiner {
 /*    position: relative;
    z-index: -1; */
    left: 38px;
    bottom: -5px;
  }

  .circle {
    width: 347px;
    height: 347px;
    border-radius: 347px;
  }

  .circle-s {
    width: 289px;
    height: 289px;
    border-radius: 289px;
    margin-top: 28px;
  }

  .circle-m {
    width: 231px;
    height: 231px;
    border-radius: 231px;
    margin-top: 28px;
  }
}

@media (max-width: 960px) {
  .man {
    /*     position: absolute;
        display: flex;
        align-items: flex-end; */
        right: -92px;
      }


.main {
  overflow: hidden;
}
}

@media (max-width: 480px) {
.h1 {
  width: 228px;
}

.h3 {
  width: 218px;
}
}
