.main {
  width: 1905px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main-conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1305px;
  padding-left: 22px;
  padding-right: 10px;
  height: 1055px;
}

.lamp {
  width: 127px;
  height: 49px;
  margin: 0 auto;
  background-image: url(/img/lamp.svg);
  background-size: contain;
  background-repeat: no-repeat;
}


.header {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.header-conteiner {
  width: 807px;
}

.h3 {
  width: 672px;
}


.man {
  position: absolute;
  display: flex;
  align-items: flex-end;
  right: 116px;
}

.man-conteiner {
  width: 663px;
  height: 844px;
  background-image: url(/img/man.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}


.target-conteiner {
  /* position: relative; */
  /* display: flex; */
  
}

.circle {
  /* position: absolute; */
  width: 700px;
  height: 700px;
  border-radius: 700px;
  border: 2px solid rgba(46, 236, 197, 0.09);
}

.circle-s {
  /* position: absolute; */
  width: 584px;
  height: 584px;
  border-radius: 584px;
  border: 2px solid rgba(46, 236, 197, 0.2);
  margin: 0 auto;
  margin-top: 58px;
}

.circle-m {
  /* position: absolute; */
  width: 467px;
  height: 466px;
  border-radius: 467px;
  border: 2px solid rgba(46, 236, 197, 0.6);
  margin: 0 auto;
  margin-top: 59px;
}



.line {
  position: absolute;
  top: 1055px;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(42, 188, 158, 0) 0%,
    #2abc9e 48.65%,
    rgba(42, 188, 158, 0) 100%
  );
}
