.menu {
  position: absolute;
  top: 49px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-conteiner {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}


.logo {
    display: flex;
    flex-direction: column
}

.logo-studio {
  font-weight: 600;
  transform: rotate(-0.192deg);
  letter-spacing: 6px;
  text-transform: uppercase;
}

.logo-studio::after {
  content: "studio";
}

.logo-web {
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: -4.6px;
  transform: rotate(-0.192deg);
}

.logo-web::after {
  content: "web";
}

.main-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  /* margin-inline-end: 88px; */
}


.menu li {
  font-size: 20px;
  line-height: 133%;
}

.li-main {
  display: none;
}
.li-question a::after {
  content: "Почему именно мы?";
}
.li-portfolio a::after {
  content: "Портфолио";
}
.li-tdrif a::after {
  content: "Тарифы";
}
.li-contacty a::after {
  content: "Контакты";
}
.li-bid a::after {
  content: "Тарифы";
}

.button-header {
  position: relative;
  width: 180px;
  height: 55px;
  background: rgba(46, 236, 197, 0.1);
  box-shadow: 0 0 62px rgba(46, 236, 197, 0.15);
}

.burger {
  display: none;
}

.burger-x {
  display: none;
}

@media (max-width: 1270px) {
  .menu-conteiner {
    flex-direction: row-reverse;
    align-items: center;
  }

  .menu {
    top: 42px;
  }

  .lamp {
    display: none;
  }

  .logo {
    width: 88px;
    height: 47px;
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 13px;
}

  .burger {
    display: block;
    width: 73px;
    height: 76px;
    background-image: url(../img/burger.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .burger-x {
    width: 40px;
    height: 40px;
    margin: 18px 14px;
    background-image: url(../img/burgerX.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
  }

  .main-menu {
    display: none;
  }

  .li-main {
    display: none;
  }
  .li-question a::after {
    content: "Почему именно мы?";
  }
  .li-portfolio a::after {
    content: "Портфолио";
  }
  .li-tdrif a::after {
    content: "Тарифы";
  }
  .li-contacty a::after {
    content: "Контакты";
  }
  .li-bid a::after {
    content: "Оставить заявку";
  }

  .button-header {
    display: none;
  }

 

  .logo-studio {
    display: none;
  }

  .logo-web {
    display: none;
  }



  .h2 {
    display: none;
  }
  
}