/* .portfolio {
  position: relative;
  max-width: 1905px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
 */
.portfolio-conteiner {
    justify-content: space-between;
    margin-top: 145px;
}

/* .portfolio-header {
} */

.portfolio-header_conteiner {
   /* min-width: 526px; */
   display: flex;
   flex-direction: column;
   /* min-height: 505px; */
   max-width: 525px;
}

.title-h4 {
  margin-bottom: 25px;
}
.title-h5 {
  margin-bottom: 35px;
}



.btn-portfolio {
  width: 269px;
  height: 51px;
  border-radius: 49px;
  background: rgba(46, 236, 197, 0.1);
  box-shadow: 0 0 37px 0 rgba(46, 236, 197, 0.2);
}

.btn-portfolio p {
  width: 209px;
}

.portfolio-arrow_conteiner {
  position: absolute;
  width: 639px;
  display: flex;
  justify-content: space-between;
  top: 147px;
  left: -37px;
  z-index: 1;
}

@media (max-width: 1270px) {
  .portfolio-conteiner {
    flex-direction: column;
    max-width: 360px;
    margin-top: 38px;
    /* padding-left: 13px;
    padding-top: 2px; */
  }
  .portfolio-arrow_conteiner {
    position: relative;
    justify-content: center;
    top: 34px;
    gap: 35px;
    height: 150px;
    width: 100%;
    left: 0;
  }

  .portfolio-header {
    width: 360px;
    text-align: center;
  }

  .btn-portfolio {
    display: none;
  }
}
