.tarif {
  width: 1905px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.tarif-conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1283px;
  padding-left: 10px;
}

.tarif-header {
  display: flex;
  justify-content: center;
}

.tarif-header_conteiner {
}

.tarif-arrow_conteiner {
  position: absolute;
  width: 100%;
  display: flex;
  top: 270px;
  justify-content: center;
  gap: 1106px;
}

/* @media (max-width: 1270px) {
  .tarif-arrow_conteiner {
    position: static;
    display: flex;
    justify-content: center;
    gap: 39px;
  }
} */
