.tarif {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.tarif-conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1298px;
  padding-left: 10px;
  padding-top: 77px;
  gap: 48px;
}

.tarif-header {
  display: flex;
  justify-content: center;

}

/* .tarif-header_conteiner {
} */

.tarif-arrow_conteiner {
  position: absolute;
  width: 100%;
  display: flex;
  top: 250px;
  justify-content: center;
  gap: 954px;
}

@media (max-width: 1270px) {
  .tarif-arrow_conteiner {
    position: relative;
    display: flex;
    justify-content: center;
    top: 0;
    gap: 39px;
    height: 150px;
    align-items: center;
  }
}
